@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --body-bg: #fff;
    --body-font: "Ubuntu", sans-serif;
    --body-color: #222;
    --container-width: 1300px;

    --main-color: #00acc1;

    --header-bg: #d50000;
    --header-color: #fff;

    --footer-bg: var(--main-color);
    --footer-color: #fff;

    --button-bg: #165e96;
    --button-color: #fff;

    --white-bg: #fff;
    --red-bg: #e90c3f;
    --yellow-bg: #ff5000;
    --blue-bg:var(--main-color);

    --white-color: #fff;
    --soft-white-color: rgba(255, 255, 255, 0.8);
    --black-color: #222;
    --soft-black-color: rgba(0, 0, 0, 0.4);

    --border-color: #ddd;
    --soft-white-border: rgba(255, 255, 255, 0.3);
    --soft-black-border: rgba(0, 0, 0, 0.1);

    --box-shadow: 0px 4px 33px 0px rgba(0, 0, 0, 0.088);
    --soft-box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.09);

    --menu-height: 80px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth
}



html{
position:relative;
word-break:break-word;
word-wrap:break-word;
text-rendering:optimizeLegibility;
-webkit-font-smoothing:antialiased;
-webkit-text-size-adjust:100%;
scroll-behaviour:smooth
}
body{
position:relative;
font-size: 15px;
background: var(--body-bg);
font-family: var(--body-font);
font-weight:400;
font-style:normal;
line-height:1.4em;
scroll-behaviour:smooth
}

a {
    text-decoration: none;
    cursor: pointer;
}

.ts {
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
}

.ytube {
   background: hsla(0, 100%, 83%, 1);

background: linear-gradient(90deg, hsla(0, 100%, 83%, 1) 0%, hsla(315, 90%, 68%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(0, 100%, 83%, 1) 0%, hsla(315, 90%, 68%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(0, 100%, 83%, 1) 0%, hsla(315, 90%, 68%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFA6A6", endColorstr="#F765D3", GradientType=1 );
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ywrap {
    position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}
.ytube iframe {
    position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.container {
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.mybg {
    background: hsla(0, 100%, 83%, 1);

background: linear-gradient(90deg, hsla(0, 100%, 83%, 1) 0%, hsla(315, 90%, 68%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(0, 100%, 83%, 1) 0%, hsla(315, 90%, 68%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(0, 100%, 83%, 1) 0%, hsla(315, 90%, 68%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFA6A6", endColorstr="#F765D3", GradientType=1 );
    transition: 0.1s ease;
    -webkit-transition: 0.1s ease
}
.sticky {background: hsla(0, 100%, 83%, 1);

background: linear-gradient(90deg, hsla(0, 100%, 83%, 1) 0%, hsla(315, 90%, 68%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(0, 100%, 83%, 1) 0%, hsla(315, 90%, 68%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(0, 100%, 83%, 1) 0%, hsla(315, 90%, 68%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFA6A6", endColorstr="#F765D3", GradientType=1 );;
    z-index: 22;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--menu-height);
}

.logo {
    position: relative;
    margin-top: 85px}
.logo img {
    width: 120px;
    height: auto;
}

.logo > h1 {
    font-size: 32px;
    color: var(--white-color);
}
.logo > h1 span {
  color:hsl(70deg 100% 83%);
}

.bars {
    position: relative;
    display: none;
}
.bars span {
    display: block;
    height: 1px;
    background: var(--white-bg);
    margin: 8px 0;
    width: 30px;
}

.menu {
    position: relative;
}

.menu > ul {
    display: flex;
}

.menu > ul > li {
    position: relative;
}

.menu > ul > li > a {
    position: relative;
    display: inline-block;
    height: var(--menu-height);
    line-height: var(--menu-height);
    width: auto;
    padding: 0 14px;
    color: var(--header-color);
    font-size: 16px;
    text-transform: uppercase;
}

.menu > ul > li > a:hover {
    opacity: 0.7;
    transition: .3s ease-in-out;
    transform: scale(1.2);
}

.intro {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, .1)), url(https://raw.githubusercontent.com/buddhalimbu/buddhalimbu.github.io/refs/heads/master/coc/Clash%20Of%20Clans%20Background.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 800px;
    width: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 80px 0 20px;
}
.intro .intro-wrapper {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
.intro h1 {
    position: relative;
    display: block;
    color: var(--white-color);
    line-height: 1.1em;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 900;
}

.intro p {
    font-size: 22px;
    color: var(--soft-white-color);
    line-height: 1.4em;
    display: block;
    position: relative;
    margin: 20px 0;
}

.intro .e-button {
    position: relative;
    display: block;
}

.intro .e-button > a {
    display: inline-block;
    position: relative;
    width: auto;
    height: 56px;
    line-height: 56px;
    text-align: center;
    background: hsla(0, 100%, 83%, 1);

background: linear-gradient(90deg, hsla(0, 100%, 83%, 1) 0%, hsla(315, 90%, 68%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(0, 100%, 83%, 1) 0%, hsla(315, 90%, 68%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(0, 100%, 83%, 1) 0%, hsla(315, 90%, 68%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFA6A6", endColorstr="#F765D3", GradientType=1 );
    color: var(--button-color);
    padding: 0 20px;
    border-radius: 1px;
    font-size: 13px;
    letter-spacing: 4px;
    text-transform: uppercase;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
}

.intro .e-button > a:hover {
    padding: 0 30px;
    background: #fc99a8;
}
.gallery {
}

.gallery-heading {
    text-align: center;
    display: block;
    padding: 80px 20px;
}
.gallery-heading .sm-heading {
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--main-color);
    letter-spacing: 4px;
    text-transform: uppercase;
}
.gallery-heading .lg-heading {
    font-size: 30px;
    text-transform: capitalize;
    display: block;
    margin: 5px 0;
    line-height: 1em;
     background: -webkit-linear-gradient(#FFA6A6, #F765D3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gallery-heading .info p {
    text-align: center;
    font-size: 15px;
    line-height: 1.2em;
   background: -webkit-linear-gradient(#FFA6A6, #F765D3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gallery-wrapper {
    display:block;
    box-shadow: var(--box-shadow);
    padding: 20px;
}


/*style img inside section of gallery */
.gallery-section  {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 190px;
 grid-auto-flow: dense;
  margin: 10px auto;
  padding: 0 10px;
}
.gallery-section .imgWrap {
  align-items: center;
  justify-content: center;
  overflow:hidden;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  display:none;
  position: relative ;
margin-bottom: 0;
    opacity: 0.7;
    transform: scale(0.685);
 background: #fff;
    position: relative;
}

.gallery-section .appendDiv{
  align-items: center;
  justify-content: center;
  overflow:hidden;
  border-radius: 8px!important;
  box-shadow: var(--box-shadow);
  position: relative ;
margin-bottom: 0;
    opacity: 0.7;
    transform: scale(0.685);
    
}
.gallery-section .imgWrap.add-ts{
  margin-bottom: 0;
    opacity: 1;
    transform: scale(1);
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out
}

.gallery-section .appendDiv.add-ts{
  margin-bottom: 0;
    opacity: 1;
    transform: scale(1);
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out
}
/*.gallery-section .imgWrap:nth-child(3),.gallery-section .imgWrap:nth-child(8),.gallery-section .imgWrap:nth-child(11),.gallery-section .imgWrap:nth-child(16){
  grid-row: span 2
}
.gallery-section .imgWrap:nth-child(5),.gallery-section .imgWrap:nth-child(14),.gallery-section .imgWrap:nth-child(1),.gallery-section .imgWrap:nth-child(9){
  grid-column: span 2
}
.allery-section 
{grid-column: span 2;
}
.flex1,.flex9
{
  grid-row : span 1;
}
.flex2,.flex3,.flex7{
  grid-row:span 2;
}
.flex5,.flex4{
  grid-column: span 2
}*/
.gallery-section .imgWrap.show {
 opacity:1;
 
}

.gallery-section .imgWrap img{
  width:200px;
  height:auto;
  position:relative;
  
    object-fit: cover;

    /*set margin*/
    margin: 0;
    border-radius: 0px;
    padding:0;
}


.gallery-section .appendDiv img{
  width:100%;
  height:100%;
  position:relative;
  
    object-fit: cover;

    /*set margin*/
    margin: 0;
    border-radius: 8px;
    padding:0;
}



.loadmore.no-more-load {
  opacity:.7;
  cursor: not-allowed
}



footer {
background: hsla(0, 100%, 83%, 1);

background: linear-gradient(90deg, hsla(0, 100%, 83%, 1) 0%, hsla(315, 90%, 68%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(0, 100%, 83%, 1) 0%, hsla(315, 90%, 68%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(0, 100%, 83%, 1) 0%, hsla(315, 90%, 68%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFA6A6", endColorstr="#F765D3", GradientType=1 );
    position: relative;
}

.footer .custom-title {
    position: relative;
    display: block;
    margin: 0 0 40px;
}

.footer .custom-title h2 {
    font-size: 22px;
    text-transform: capitalize;
    color: var(--white-color);
    line-height: 1em;
    display: block;
    position: relative;
    padding: 0 0 14px;
}

.footer .custom-title h2:before {
    content: "";
    height: 2px;
    width: 55px;
    background: var(--white-bg);
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding:  0;
    grid-gap: 0;
}

.footer-gallery {
    display: grid;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4px;
}

.footer-gallery a {
    height: auto;
    width: auto;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 3px;
}

.footer-gallery a img {
    display: block;
    height: 100px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.footer-gallery a:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

.footer .label-item {
    display: block;
}

.footer .label-item ul {
}
.footer .label-item ul li {
    display: inline-block;
    float: left;
}
.footer .label-item ul li a {
    display: inline-block;
    position: relative;
    height: 33px;
    line-height: 33px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    color: var(--white-color);
    padding: 0 14px;
    margin: 0 8px 8px 0;
    border-radius: 3px;
}

.footer .label-item ul li a:hover {
    background: var(--button-bg);
}
.footer .about-text p {
    display: block;
    position: relative;
    line-height: 1.7em;
    font-size: 15px;
    color: var(--white-color);
}

.subform {
    position: relative;
    margin: 12px 0 0;
}
.subform .form-head {
    position: relative;
    display: block;
    color: var(--soft-white-color);
    font-size: 11px;
    text-transform: uppercase;
    margin: 0 0 8px;
    letter-spacing: 2px;
}
.subform form {
    display: grid;
    grid-template-columns:70% 30%;
    width: 100%;
}
.subform form input {
    height: 44px;
    line-height: 44px;
    padding: 0 14px;
    border: none;
    background: rgba(255, 255, 255, 0.4);
    width: 100%;
}

.subform form button {
    position: relative;
    height: 44px;
    line-height: 44px;
    text-align: center;
    padding: 0 20px;
    background: var(--button-bg);
    color: var(--white-color);
    border: none;
    outline: none;
    letter-spacing: 2px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}

.subform form button:hover {
    background: #d40f0c;
}

.subform ::placeholder {
    color: var(--white-color);
}

.subform input:focus {
    color: #fff;
    outline: none;
    border: none;
}

.credit {
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white-color);
}

.copyright {
    padding: 40px 0;
    position: relative;
}

.footer-social {
    position: relative;
    margin: 0 0 14px;
    display: block;
}

.footer-social ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social ul li a {
    position: relative;
    display: inline-block;
    color: var(--white-color);
    font-size: 24px;
    margin: 0 7px;
}

.footer-social ul li a:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
}

.credit .credit-text,
.credit .image-credit {
    display: block;
    text-align: center;
    position: relative;
    font-size: 12px;
    letter-spacing: 2px;
}

.credit .credit-text a,
.credit .image-credit a {
    display: inline-block;
    color: var(--soft-white-color);
}

.gototop {
    position: fixed;
    left: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    bottom: 20px;
    height: 32px;
    line-height: 32px;
    width: 32px;
    text-align: center;
    background: hsla(0, 100%, 83%, 1);

background: linear-gradient(90deg, hsla(0, 100%, 83%, 1) 0%, hsla(315, 90%, 68%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(0, 100%, 83%, 1) 0%, hsla(315, 90%, 68%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(0, 100%, 83%, 1) 0%, hsla(315, 90%, 68%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFA6A6", endColorstr="#F765D3", GradientType=1 );
    color: var(--white-color);
    border-radius: 3px;
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
}

.showgtt {
    visibility: visible;
    opacity: 1;
    left: 20px;
}
.blog-pager {
    display: block;
    margin: 30px 0 20px;
    text-align: center;

}
.blog-pager.no-more-load {
  cursor: not-allowed
}
.blog-pager #loadmore {
    height: 60px;
    line-height: 60px;
    display: inline-block;
    width: auto;
    padding: 0 20px;
    text-align: center;
    background: hsla(0, 100%, 83%, 1);

background: linear-gradient(90deg, hsla(0, 100%, 83%, 1) 0%, hsla(315, 90%, 68%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(0, 100%, 83%, 1) 0%, hsla(315, 90%, 68%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(0, 100%, 83%, 1) 0%, hsla(315, 90%, 68%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFA6A6", endColorstr="#F765D3", GradientType=1 );
    color: #fff;
    border-radius: 4px;
    margin: 0 0 21px;
    letter-spacing: 3px;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
}

.blog-pager #loadmore:hover {
    background: var(--red-bg)
}

.imgHolder {
  position:fixed;
  display:grid;
  place-items: center;
  top:0;
  left:0;
  right: 0;
  bottom:0;
  width:100%;
  height:100%;
  z-index:44;
 background: #9c8383;
  padding:50px 20px;
  transition:0.4s ease;
  overflow-x: hidden
}
.imgdiv {
 
    height: 80%;
    width: 50%;
    background: none;
    padding:0px;
    position: relative;
  


}
.imgHolder img {
     box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 29px 0px;
  width: auto;
  max-width:100%;
  height: 100%;
  display:block;
  object-fit: cover;
  object-position: cover;
  margin:0 auto;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
}

.imgHolder .imgClose {
  font-size: 60px;
  cursor: pointer;
  position: absolute;
  top:13px;
  right:20px;
}

.imgHolder .dimg {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,0.9);
 color:var(--main-color);
 padding:10px 14px;
 font-size: 10px;
 letter-spacing: 2px;
 text-transform: uppercase;
 border-radius: 6px;
 border:3px solid var(--white-bg);
 box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.8) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
 font-weight: bold;
 transition: 0.4s ease-in-out;
}
.imgHolder .dimg:hover {
    background: hsla(192, 95%, 50%, 1);

background: linear-gradient(90deg, hsla(192, 95%, 50%, 1) 0%, hsla(225, 89%, 47%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(192, 95%, 50%, 1) 0%, hsla(225, 89%, 47%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(192, 95%, 50%, 1) 0%, hsla(225, 89%, 47%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#07C8F9", endColorstr="#0D41E1", GradientType=1 );
border:none;
color:#fff;
}


.copysrc {
  background: hsla(0, 100%, 83%, 1);

background: linear-gradient(90deg, hsla(0, 100%, 83%, 1) 0%, hsla(315, 90%, 68%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(0, 100%, 83%, 1) 0%, hsla(315, 90%, 68%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(0, 100%, 83%, 1) 0%, hsla(315, 90%, 68%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFA6A6", endColorstr="#F765D3", GradientType=1 );
  height:36px;
  line-height: 36px;
  width:auto;
  padding:0px 8px;
  border-radius: 4px;
  color:var(--white-color);
  text-align: center;
  margin-top: -6px;
  position: absolute;
  top:15%;
  left:50%;
  z-index: 2;
  transform: translate(-50%,0%);
  font-weight: bold;
  letter-spacing: 0px;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}
.copysrc:hover {
   background: hsla(192, 95%, 50%, 1);

background: linear-gradient(90deg, hsla(192, 95%, 50%, 1) 0%, hsla(225, 89%, 47%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(192, 95%, 50%, 1) 0%, hsla(225, 89%, 47%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(192, 95%, 50%, 1) 0%, hsla(225, 89%, 47%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#07C8F9", endColorstr="#0D41E1", GradientType=1 );
}
.adddemoimg{
  display: block;
  position:fixed;
  left:0;
  top:50%;
  z-index: 3;
  transform: translate(0,-50%);
  background: red;
  color:var(--white-color);
  height:38px;
  line-height: 38px;
  text-align: center;
  padding:0 9px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 8px!important;
  letter-spacing: 1px;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}
.adddemoimg.remove{
  display: none
}




/*media query*/

@media screen and (max-width: 900px) {
    .header {
        z-index: 20;
    }
    .bars {
        display: inline-block;
    }

    .menu {
        position: fixed;
        top: 0;
        background: hsla(0, 100%, 83%, 1);

background: linear-gradient(90deg, hsla(0, 100%, 83%, 1) 0%, hsla(315, 90%, 68%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(0, 100%, 83%, 1) 0%, hsla(315, 90%, 68%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(0, 100%, 83%, 1) 0%, hsla(315, 90%, 68%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFA6A6", endColorstr="#F765D3", GradientType=1 );;
        width: 250px;
        left: -250px;
        z-index: 2000;
        height: 100%;
        overflow-x: hidden;
        display: block;
        visibility: hidden;
        opacity: 0;
    
    }
    .menu ul {
        display: block;
    }

    .menu ul li:first-child {
        margin: 20px 0 0;
    }
    .menu ul li:last-child {
        margin: 0 0 20px;
    }

    .menu ul li a {
        height: auto;
        line-height: normal;
        padding: 14px 20px;
        display: block;
    }
    .menu > ul > li > a:hover {
        transform: scale(1.0);
    }
    .tognav .menu {
       left:0;
       visibility: visible;
       opacity: 1;
    }
    .tognav .bars span {
      transition: .4s ease
    }
    .tognav .bars span:nth-child(1){
      transform: translate(0,9px) rotate(-45deg)
    }
     .tognav .bars span:nth-child(2){
      opacity: 0
    }
   .tognav .bars span:nth-child(3){
      transform: translate(0,-9px) rotate(45deg)
    }


    .intro h1 {
        font-size: 32px;
    }

    .gallery-wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0 20px;
    }

    .gallery-section img {
        margin:0 0;
    }
    

    .footer-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer .footer-right {
        grid-column: 1/4;
    }
    .copysrc{
    /*  position: fixed;
      left:0;
      top:50%;
      transform: translate(0,-50%);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      font-size: 9px*/
    }
}

@media screen and (max-width: 600px) {
    .header-wrapper {
        padding: 0 10px;
    }
    .container{
        padding: 0;
    }
    .gallery-wrapper {
        padding: 0;
        box-shadow: none;
    }
    .ytube {
        padding: 20px;
    }
    .intro-wrapper {
        padding: 30px 30px 0px 30px
    }
    .intro .e-button {
        margin-top: 50px;
    }
    .intro .e-button > a {
        height: 44px;
        line-height: 44px;
        letter-spacing: 1px;
        font-size: 12px;
    }
    .intro h1 {
        font-size: 24px;
        text-transform: capitalize;
        font-weight: 700;
    }
    .intro p {
        font-size: 18px;
    }

    .footer-wrapper {
        grid-template-columns: 1fr;
        grid-gap: 40px 0;
    }

    .footer .footer-right {
        grid-column: inherit;
    }

    .gallery-wrapper {
        grid-template-columns: 1fr;
    }
    .gallery-section {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
    .gallery-section .imgWrap img {
        margin: 0;
        padding:0;
        width:100%;
        height:100%;
        display: block
    }
 
.gallery-section .imgWrap{
 
  padding:0!important;
  margin: 10px 0;
}

    .logo h1 {
        font-size: 24px;
        text-transform: capitalize;
    }
    .logo img{
        width: 100px;
    }
    .intro {
        height: auto;
        padding: 140px 0 80px;
        max-height: none;
        min-height: none;
    }
    .imgdiv {
        width: 100%;
        
    }
    .imgHolder img {
      max-width:100%;
      height:100%
    }
}

.sdivitem{
  width:100%;
  max-width: 550px;
  margin:0 auto;
  padding:30px;
}
.sdiv {
  width:250px;
  margin:0 auto;
  padding:30px;
  position: fixed;
  top: 0;
  height :100%;
  left:-250px;
  z-index: 5000;
  background: var(--main-color);
  transition: 0.5s ease;
  visibility: hidden;
  opacity:0
}
.sdiv.show{
  visibility: visible;
  opacity:1;
  left:0
}
.ptag ,.ctag{
  margin-top: 30px;
  display:flex;
  flex-direction: column;
  color:#fff;
}
.ptag a,.ctag a {
  text-decoration: none;
  margin:10px 0;
  color: var(--black-color);
}
.ctag input {
  padding:12px;
  border:none;
  outline:none;
  background: rgba(255, 255, 255, 0.2);
  color:var(--white-color);
}
.ctag ::placeholder{
  color:var(--white-color);
}
.ctag .addImg {
  padding:10px;
  background: var(--red-bg);
  color:var(--white-color);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 11px
}

.social {
  position:fixed;
  right:-300px;
  bottom:55px;
    visibility: hidden;
  opacity:0;
  transition: .4s ease-in-out;
  
}

.social.show {
    right: 20px;
    visibility: visible;
    opacity: 1;
}

.icons {
 background: hsla(0, 100%, 83%, 1);

background: linear-gradient(90deg, hsla(0, 100%, 83%, 1) 0%, hsla(315, 90%, 68%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(0, 100%, 83%, 1) 0%, hsla(315, 90%, 68%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(0, 100%, 83%, 1) 0%, hsla(315, 90%, 68%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFA6A6", endColorstr="#F765D3", GradientType=1 );
  padding:30px;
  border-radius: 8px;
  display:grid;
  grid-gap:10px;
  grid-template-columns:1fr;
  box-shadow: 1px 20px 40px rgba(0,0,0,0.5);
  margin-bottom: 18px;
  transition:0.4s ease;
  transition: 0.4s ease-in-out;
}


.icons a {
  font-size: 19px;
  text-decoration: none;
  color:var(--white-color);
  padding:10px;
  
}

.icons a:hover {
    transition: .3s ease-in-out;
    transform: scale(1.2);
}
.opensocial {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  background: #ffa6a6;
  color:var(--white-color);
  height:50px;
  width:50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  z-index: 10
  
}
.opensocial:before{
  content:"";
  width:22px;
  height:22px;
  display:block;
  background:#ffa6a6;
  position: absolute;
  top:1px;
  left:3px;
  z-index: -9
}
.xclose{
  position: absolute ;
  top:10px;
  right: 10px;
  font-size: 50px;
  color:var(--white-color)
}
